<div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="0.5em" style="width:100%;padding:0.5em">
  <div fxLayout="row" fxLayoutAlign="center center" style="width:100%;">
      <h3> COVID 19 App</h3>
  </div>
  <div fxLayout="column" fxLayoutAlign="start start" style="width:100%;">
      <!-- <a style="cursor: pointer; " class="example-spacer" fxLayout="row" fxLayoutAlign='start center'
          fxLayoutGap="5px">
          <mat-icon>home</mat-icon>
          <h4>HOME</h4>
      </a>
      <a style="cursor: pointer;" class="example-spacer" fxLayout="row" fxLayoutAlign='start center'
          fxLayoutGap="5px">
          <mat-icon>business</mat-icon>
          <h4> ABOUT US</h4>
      </a>
      <a style="cursor: pointer;" class="example-spacer" fxLayout="row" fxLayoutAlign='start center'
          fxLayoutGap="5px">
          <mat-icon>whatshot</mat-icon>
          <h4>WHAT IS CKD?</h4>
      </a>
      <a style="cursor: pointer;" class="example-spacer" routerLink="/data" fxLayout="row" fxLayoutAlign='start center'
          fxLayoutGap="5px">
          <mat-icon>online_prediction</mat-icon>
          <h4> PREDICT CKD</h4>
      </a>
      <a style="cursor: pointer;" class="example-spacer" fxLayout="row" fxLayoutAlign='start center'
          fxLayoutGap="5px">
          <mat-icon>tty</mat-icon>
          <h4> CONTACT US</h4>
      </a> -->
  </div>
</div>