<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="push" [(opened)]="opened" (click)='router.navigated && (opened = false)'>
        <ud-header></ud-header>
    </mat-sidenav>
    <mat-sidenav-content>
        <!-- <ud-http-loader></ud-http-loader> -->
        <router-outlet></router-outlet>
        <ud-footer></ud-footer>
    </mat-sidenav-content>
</mat-sidenav-container>
<mat-toolbar color="primary" style="position:fixed;top:0;z-index:1000">
    <div style="width:100%;" fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout fxLayoutAlign="start center" fxLayoutGap="0.5em">
            <mat-icon fxHide.gt-sm (click)="sizeChange()">reorder</mat-icon>
            <span>COVID 19</span>
        </div>
        <div fxLayout fxLayoutGap="1em" fxHide.lt-md>
            <a style="cursor: pointer; margin-top: 10px;" class="example-spacer" fxLayout="row"
                fxLayoutAlign='start center' fxLayoutGap="5px">
                <mat-icon>home</mat-icon>
                <h5>HOME</h5>
            </a>
            <a style="margin-top: 10px;cursor: pointer;" class="example-spacer" fxLayout="row"
                fxLayoutAlign='start center' fxLayoutGap="5px">
                <mat-icon>business</mat-icon>
                <h5> ABOUT US</h5>
            </a>
            <a style="margin-top: 10px;cursor: pointer;" class="example-spacer" fxLayout="row"
                fxLayoutAlign='start center' fxLayoutGap="5px">
                <mat-icon>whatshot</mat-icon>
                <h5>WHAT IS CKD?</h5>
            </a>
            <a style="margin-top: 10px;cursor: pointer;" class="example-spacer" fxLayout="row"
                fxLayoutAlign='start center' fxLayoutGap="5px">
                <mat-icon>online_prediction</mat-icon>
                <h5> PREDICT CKD</h5>
            </a>
            <a style="margin-top: 10px;cursor: pointer;" class="example-spacer" fxLayout="row"
                fxLayoutAlign='start center' fxLayoutGap="5px">
                <mat-icon>tty</mat-icon>
                <h5> CONTACT US</h5>
            </a>
            <p class="example-spacer"></p>
        </div>
    </div>
</mat-toolbar>